.heading
{
    margin-top: 20px;
    text-align: center;
    color: #383b3d;
    padding-top: 10px;
    font-size: 48px;
    letter-spacing: 3px;
    text-shadow: 
    4px 4px 0px #d5d5d5, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
}

.filters
{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    border: 2px solid black;
    
}

.search
{
    background-color: #383b3d;
    color: white;
    padding: 4px;
    font-size: 32px;
    
}